@import 'vars';



body{
  background-color: $background-white;
  font-family: $font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: fit-content;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main{
  background-color: $background-grey;
  margin-top: 60px;
}

a{
  text-decoration: none;
  color: $link-color;
  font-size: .9em;
  font-weight: 500;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
}

.wrapper{
  display: flex;
  justify-content: flex-start;


  @media (max-width: 1024px){
    justify-content: center;
  }
}
