@import 'vars';

.stories{
  display: flex;
  align-items: center;
  background-color: $background-white;
  border: 1px solid $border-color-grey;
  border-radius: 3px;
  margin: 2em 0 1.5em 0;
  padding: 0 1em;
  height: 7.4em;
  overflow: hidden;
  @media (max-width: 640px){
    margin: 0 0 .5em 0;
  }
}